<div class="about">
  <div class="background-about">
    <div class="content">
      <h1> Workspacity </h1>
      <h3> Some information about us </h3>
    </div>
  </div>

  <div class="images text-center">
    <div class="image-profile">
      <iframe class="video-box" src="https://www.youtube.com/embed/fsrPYqGN1YE" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>
  <div class="images">
    <%= image_tag "workspacity-camera.jpg", class: 'image'%>
  </div>
  <div class="content-about">
    <div class="writeup-about">


    <h2>WORKSPACITY – CONNECTING BUSINESSES WITH TALENT</h2>
    <p>
      At Workspacity we connect the right talent with requirement
      – thinking of ourselves as enablers we are a platform of like-minded professionals, entrepreneurs and business savvy individuals on the lookout for the right talent,
      a unique niche which connects and expertise which answer all your conundrums.


    </p>
    <p>
      With a database of media experts, if you’re on the lookout and want a job done the right way don’t waste your time in searching the market inside out
      – Workspacity takes your requirements on board and connects you with all the right people.
      Not only do you find someone to get the job done,
      we guarantee satisfaction as well with payment protection alongside as well.
    </p>
    <h4>It really is that easy!</h4>
    <p>
      Ever expanding and demanding, representation via design, media and video production is the most precise way of getting the word out there.
      Your service or your product can be represented well if it’s done professionally and accurately.
      So – don’t look around, choose Workspacity every time! All you need to do is click and register,
      and while you’re at it sign-up for our regular newsletter as well.
    </p>
    <h4>We have something for everyone!</h4>
    <p>
      Freelance work is an opportunity to you don’t want to miss, not only does it help you refine your expertise, it’s also a way of supplementing your income.
      If you are an expert in media services, Workspacity can offer you the right connections. As a service provider with Workspacity you’re required to register,
      once done you can apply for work or put your profile out there for businesses to choose from.
    </p>

    <h5>Thanks for visiting our website today! Click to register yourself. If you have any questions or queries, leave your details in the format given below and we’ll respond back.</h5>
    </div>
  </div>

  <div class="feature-box">
    <div class="writeup-about">
      <h6>WE CONNECT THE RIGHT PHOTOGRAPHIC CREATIVE TALENTS</h6>

    </div>
  </div>

  <div class="images">
    <div class="image">
      <%= image_tag "workspacity-lens.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <%= image_tag "workspacity-work-from-home.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <%= image_tag "workspacity-go-further.jpg", class: 'image-box'%>
    </div>
  </div>

  <div class="feature-box">
    <div class="writeup-about">
      <h7>"photography is a love affair with life"</h7>

    </div>
  </div>

</div>
