<div class="how-it-works">
  <div class="background-about">
    <div class="content">
      <h1> How it Works? </h1>
      <h3> A new class of professional </h3>
    </div>
  </div>

  <div class="background-how-it-works">
    <div class="add-margin">
      <h8>Filter. Check. Design. Refine</h8>
      <h2 class="font-1">We listen to your needs and design thoughtfully refined solutions.</h2>
    </div>
  </div>

  <div class="feature-box-white">
    <div class="writeup-about">
      <div class="add-margin">
        <h6 class="text-left">WE LOVE THE ART OF CREATION</h6>
        <h5>Our passion is listening to clients ideas, thinking through solutions and coming up with creative designs. Most Importantly, we keep it simple.</h5>
      </div>
    </div>
    <div class="button">
      <%= link_to "Join us!", about_path, class: 'btn button' %>
    </div>
  </div>

  <div class="feature-box">
    <div class="writeup-about">
      <h6>WE FOCUS ON OUR SKILLS</h6>
      <h5>We know our core strengths, stick to our guns and hone our skills. Most Importantly, we stay focused.</h5>

    </div>
  </div>

  <div class="images">
    <div class="image">
      <%= image_tag "workspacity-lens.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <%= image_tag "workspacity-work-from-home.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <%= image_tag "workspacity-go-further.jpg", class: 'image-box'%>
    </div>
  </div>

  <div class="feature-box">
    <div class="writeup-about">
      <h7>"photography is a love affair with life"</h7>

    </div>
  </div>

</div>
