.about{
  .background-about {
    background-image: asset-url("aboutbackground.jpg");
    height: 22vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1{
    color: white;
    font-size: 90px;
    text-align: center;
  }

  h2 {
    color: black;
    font-size: 50px;
    text-align: center;
  }

  h3{
    color: white;
    opacity: 0.5;
    font-size: 35px;
    text-align: center;
  }

  .video-box{
    width: 800px;
    height: 450px;
  }

  .content-about{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images{
    width: 100%;
    // margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .image{
    flex: 0 0 280px;
    position: relative;
    justify-content: center;
    align-items: center;
    &:hover .invisible-layout {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  .image-profile{
    flex: 0 0 280px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px auto;
  }

  .image-box{
    width:100%;
    height: 200px;
  }

  @media all and (max-width: 1199px){
    .image{
      flex: 0 0 50%;
    }
    .video-box{
      width: 1000px;
    }
  }
  @media all and (max-width: 600px){
    .image{
      flex: 0 0 100%;
    }
    h1{
      font-size: 50px;
    }
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 20px;
    }
    .font-body {
    font-size: 13px;
    }
    .font-email{
      font-size: 13px;
    }

    .video-box{
      width: 600px;
    }
  }
}
