.comments{
  .background {
    background-image: asset-url("camera-old.jpg");
    height: 50vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topic-array{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .topic-item{
    flex: 1 0 280px;
    margin: 20px 10px
  }

  .font-feature-1 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica;
    justify-content: center;
  }

  .font-feature-2 {
    color: olive;
    font-size: 18px;
    justify-content: center;
  }
}
