<div class="landing">
  <div class="background">
    <div class="flex-alignment">
      <div class="">
        <h1> Workspacity </h1>
        <h3> A place for freelancers to gather </h3>
      </div>
    </div>
  </div>

  <div class="background-2 text-center">
      <div class="font-2">
        <h2>FIND YOUR BEST PROFESSIONALS</h2>
        <p class="font-body">
          Workspacity helps you hire the best professionals from videographers, to photographers, studio location, stylists, caterer etc. you name it!
          <br>Search packages which suit your appetite or ask for quotation for customization, at incredible prices from the best providers.
          <br>Buy the professional service, save your time shopping around, get your payment protected with Workspacity!
        </p>
      </div>
  </div>

  <div class="background-3 text-center">
      <div class="font-2">
        <h2> HOW IT WORKS? </h2>
        <p class="font-body">
          We connect the right photographic creative talents
        </p>
    </div>

  </div>

  <div class="contact-us text-center">
      <div>
        <p class="font-1">CONTACT US</p>
        <p class="font-body">
          Chat with our experts
        </p>
      </div>
  </div>

  <div class="background-4 text-center">
    <div>
      <div class="flex-alignment">
        <p class="circle">
          <%= mail_to "workspacity@gmail.com" do %>
          <%= image_tag "email-icon.png", class: "email-icon"%>
          <% end %>
        </p>
      </div>


      <p class="font-email">
        Email us
      </p>

    </div>
  </div>

</div>
