.posts.show{
  .background-show{
    background-image: asset-url("applewatch.jpg");
    height: 50vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .font-feature-show {
    margin: 10px;
    color: black;
    font-size: 20px;
    justify-content: center;
  }
}
